<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Your photos</h1>

      <%= file_field_tag :files, multiple: true, class: 'js-file-upload hidden' %>

      <button class="btn btn-success js-upload">
        Upload
      </button>

      <div class="js-upload-progress hidden">
        <div class="js-progress-title">
        </div>
        <div class="progress">
          <div class="progress-bar js-progress" role="progressbar" style="width: 60%;">
          </div>
        </div>
      </div>

      <div class="usage">
        You have used <%= Megabytes.megabytes(@photos.sum(:size)) %>
      </div>

      <div class="js-image">
      </div>

      <div class="year-list-group">
        <% @year_photos.each do |year, photos| %>
          <div class="year-list-group-item">
            <a href="#">
              <h2>
                <%= year %>
              </h2>
            </a>
            <% photos.each do |photo| %>
              <a href="#" class="year-list-group-item-child">
                <h3>
                  <%= Date::MONTHNAMES[photo.date_time_original.month] %>
                </h3>
                <%= image_tag photo.thumbnail_url %>
              </a>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="list-group">
        <% @models.each do |model| %>
          <div class="list-group-item">
            Model: <%= model %>
          </div>
        <% end %>
      </div>

      <div class="row photos">
        <% @photos.each do |photo| %>
          <div class="photo col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <% if photo.thumbnail_url %>
              <%= link_to photo.original_url, target: '_blank' do %>
                <%= image_tag photo.thumbnail_url, class: 'img-responsive' %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
