<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Your photos</h1>

      <%= file_field_tag :files, multiple: true, class: 'js-file-upload hidden' %>

      <button class="btn btn-success js-upload">
        Upload
      </button>

      <div class="js-upload-progress hidden">
        <div class="js-progress-title">
        </div>
        <div class="progress">
          <div class="progress-bar js-progress" role="progressbar" style="width: 60%;">
          </div>
        </div>
      </div>

      <div class="usage">
        You have used <%= Megabytes.megabytes(@photos.sum(:size)) %>
      </div>

      <div class="js-image"></div>
    </div>

    <div class="col-xs-4">
      <div class="albums">
        <div class="list-group">
          <% @years.each do |year, months| %>
            <div class="list-group-item">
              <%= link_to year, year: year %>
              <div class="<%= year.to_s == params[:year] ? nil : 'hidden' %>">
                <% months.each do |month, days| %>
                  <div class="list-group-item">
                    <%= link_to Date::MONTHNAMES[month], year: year, month: month %>
                    <div class="list-group-item <%= year.to_s == params[:year] && month.to_s == params[:month] ? nil : 'hidden' %>">
                      <% days.each do |day| %>
                        <div>
                          <%= link_to day, year: year, month: month, day: day %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="row photos">
        <% @photos.each do |photo| %>
          <div class="photo col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <% if photo.thumbnail_url %>
              <%= link_to photo.original_url, target: '_blank' do %>
                <%= image_tag photo.thumbnail_url, class: 'img-responsive' %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
